<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" type="text/css">
        <link rel="stylesheet" href="/css/styles.css" type="text/css">
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="jumbotron">
            <h1>Your Address Book</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4 newContactBox">
                    <h2>Add a Contact:</h2>

                          <form id="new-contact" action="/create_contact" method="post">
                            <div class="form-group">
                              <label for="first-name">First Name</label>
                              <input type="text"  name="first-name" class="form-control" id="first-name" required>
                            </div>
                            <div class="form-group">
                              <label for="last-name">Last Name</label>
                              <input type="text" name="last-name" class="form-control" id="last-name" required>
                            </div>
                            <div id="new-addresses">
                              <div class="new-address">
                                <div class="form-group">
                                  <label for="street">Street</label>
                                  <input type="text" name="street"class="form-control street" required>
                                </div>
                                <div class="form-group">
                                  <label for="city">City</label>
                                  <input type="text" name="city"class="form-control city" required>
                                </div>
                                <div class="form-group">
                                  <label for="state">State</label>
                                  <input type="text" name="state" class="form-control state" required>
                                </div>
                                <div class="form-group">
                                  <label for="zip">Zip</label>
                                  <input type="number" name="zip" class="form-control zip" required>
                                </div>
                                <div class="form-group">
                                  <label for="phone">Phone Number</label>
                                  <input type="tel" name="phone" class="form-control phone">
                                </div>
                                <div class="form-group">
                                  <label for="email">Email</label>
                                  <input type="email" name="email" class="form-control new-phone">
                                </div>
                              </div>
                            </div>


                            <button type="submit" class="btn btn-success">Add New Contact</button>

                        </form>
                        <div class="container delete" >
                            <h4>Warning: This Will Delete All Contacts</h4>
                            <form action="/delete" method="get">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger">Delete ALL contacts</button>
                                 </div>
                             </form>
                         </div>
                </div>
                <div class="col-md-8">
                    <h2>Your Contacts</h2>
                    <div class="searchbox">

                        <form action="/search" method="post">
                            <div class="form-group">
                              <label for="search">Search by Name:</label>
                              <input type="text" name="search" class="form-control search">
                            </div>
                            <button type="submit" class="btn btn-primary">Search By Name</button>
                       </form>
                   </div>

                    {% if contacts is not empty %}
                        {%for contact in contacts %}
                            <div class="contact">
                                <p> <strong>{{contact.fullName}}</strong><br>
                                    {{contact.fullAddress}}<br>
                                    {{contact.phone}}<br>
                                    <a href="mailto:{{contact.email}}">{{contact.email}}</a>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>
            </div>
        </div>
    </body>
</html>
